.fullPage {
  overflow: hidden;
}

.welcomePage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.logo {
  width: 40vw;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation-delay: 1s;
}

.melissaTeh {
  padding: 10px 0px 50px;
  letter-spacing: 0.2em; 
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation-delay: 2s;
}

.contact {
  padding: 100px 0px;
}

.sticky {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 15vh;
}

.sticky2 {
  flex-direction: column;
}

.animation {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.logo2 {
  width: 50vw;
  position: absolute;
}

.logo3 {
  width: 25vw;
  position: absolute;
}

.sectionTitle {
  margin: 30px 0px;
}

.contactInfo {
  text-align: left;
}

.contactInfo a {
  color: white;
}

.contactIcon {
  font-size: 1.5em;
  vertical-align: middle;
  padding: 0 15px 0 0;
}

.projects {
  width: 100vw;
  height: 80vh;
  position: relative;
}

.project {
  position: absolute;
  top: 5vh;
  left: 10vw;
  height: 40vw;
  width: 40vw;
  border: 4px double white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}

.project2 {
  top: 25vh;
  left: 30vw;
}

.project3 {
  top: 45vh;
  left: 50vw;
}

.projectTitle {
  line-height: 7vh;
}

.projectDetails {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
}

.projectLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3vh;
}

.projectFeatures {
  font-size: 0.9em;
  text-align: left;
}

.projectResponsibility {
  border-top: 1px solid white;
  border-bottom: 3px double white;
  padding: 2vh 0 0;
  margin: 5vh 0;
  font-size: 1.1em;
}

.projectLink {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  margin: 0 10px;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

.projectIcon {
  font-size: 1.5em;
  padding: 5px 0 5px;
}

.middleLine {
  background: linear-gradient(white, white) no-repeat center/2px 
  100%;
  /* margin-top: 20vh; */
}

.parallax, .parallaxEven {
  height: 30vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
}

.trigger5 {
  margin-top: -20vh;
  height: 5vh;
}

.content, .contentEven, .content2 {
  margin: 5vh 0px 10vh;
  padding: 3vh 0 2vh;
  background-color: black;
}

.content2 {
  margin: 17vh 0 13vh;
}

.diamond, .diamond2, .diamondEven {
  height: 10px;
  width: 10px;
  background-color: white;
  margin: 0px auto 20px;
  transform: rotate(45deg);
}

.period {
  font-size: 0.7em;
  font-style: italic;
}

.skills {
  font-size: 0.9em;
  font-style: italic;
}

.back2Top {
  margin: 20vh 0px 10px;
  cursor: pointer;
}

.footer {
  margin: 0 20px;
  border-top: 3px double white;
  padding: 15px 0px 2px;
  font-size: 0.8em;
  line-height: 8px;
}

.footerRow {
  margin-bottom: 30px;
}

.footer a, .footer i {
  color: white;
  padding: 0 7px;
}

/* MEDIA QUERY */
@media only screen and (max-width: 375px) {
  .logo2 {
    width: 50vw;
  }

  .logo3 {
    width: 25vw;
  }

  .contactInfo {
    line-height: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    height: 25vh;
    width: auto;
  }

  .contactInfo {
    margin-top: 15vh;
  }

  .parallax {
    width: 45vw;
    height: 30vh;
  }
  
  .parallaxEven {
    position: relative;
    overflow: hidden;
    left: 55vw;
  }

  .logo2 {
    width: 30vw;
  }

  .logo3 {
    width: 20vw;
  }

  .timelineTitle {
    margin-bottom: 0px;
  }

  .trigger, .trigger2, .trigger3, .trigger4 {
    height: 15vh;
    margin-bottom: -5vh;
  }
  
  .trigger5 {
    margin: 0;
    height: 10vh;
  }

  .trigger6 {
    height: 15vh;
  }
  
  .trigger {
    background-color: black;
  }

  .diamond {
    margin: 10px 0px 30px;
  }

  .diamond2 {
    margin: 10px auto 30px;
  }

  .skills {
    font-size: 0.7em;
  }

  .content {
    left: 48%;
    text-align: left;
    margin-top: -30vh;
    padding-left: 1.3vw;
    position: absolute;
  }
  
  .contentEven {
    right: 48%;
    text-align: right;
    margin-top: -30vh;
    padding-right: 1.3vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .content2 {
    margin: 0;
    padding: 3vh;
  }

  .footer {
    padding: 30px 0px 10px;
    margin: 0 80px;
  }

  .contactLink:hover, .back2Top:hover, .footer a:hover {
    text-decoration: none;
    color: gray;
  }

  .back2Top {
    margin: 10vh 0px 10px;
  }
}

@media only screen and (min-width: 1028px) {
  .logo2 {
    margin-top: -10vh;
    width: 30vw;
  }

  .logo3 {
    width: 15vw;
  }

  .project {
    height: 200px;
    width: 200px;
    top: 5vh;
    left: 26vw;
  }

  .project2 {
    left: 43vw;
    margin-top: -5vh;
  }
  
  .project3 {
    left: 60vw;
    margin-top: -10vh;
  }

  .parallax {
    height: 50vh;
  }
  
  .content, .contentEven {
    padding: 3vh 0 2vh;
    margin-top: -43vh;
    padding-left: 1.7vw;
    padding-right: 1.7vw;
  }

  .content2 {
    padding: 3vh;
  }

  .back2Top {
    margin: 20vh 0px 10px;
  }
}

/* ANIMATIONS */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}