.App {
  text-align: center;
  background-color: black;
  font-family: 'Raleway', sans-serif;
  color: white;
  min-height: 100vh;
  font-size: 1.2em;
}

p {
  font-size: 0.9em;
}

@media only screen and (max-width: 375px) {
  .App {
    font-size: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .App {
    font-size: 1.2em;
  }
}